#individualProject {
  display: none;
}

.individualProject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 45px;
  margin-right: 45px;
}

.gallery {
  width: 75%;
  height: auto;
}
.uk-child-width-1-2 > * {
  width: 10%;
  height: auto;
  margin-top: 1%;
  margin-right: 1%;
}

.thumbnailSliderArrow {
  color: white !important;
}
.thumbnail {
  width: 100%;
  height: auto;
}
.thumbnail:hover {
  cursor: pointer;
}

.selected {
  border-bottom: 2px solid #ff0202;
}

.projectDescription {
  width: 23%;
  border: none;
}

.card-body h3{
  color: #616161;
}

.card-body{
  color: #9E9E9E;
  font-size: 0.9rem;
}

@media only screen and (max-width: 900px) {
  .gallery {
    width: 100%;
    height: auto;
  }

  .projectDescription {
    width: 100%;
    height: auto;
    margin-top: 5%;
  }

  .uk-child-width-1-2 > * {
    width: 20%;
  }
}
