.team {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 45px;
  margin-right: 52px;
}
.teamCard {
  width: 18.5%;
  margin-bottom: 2.5%;
  margin-right: 1.5%;
  border: none;
}

.name {
  margin-bottom: 0em;
}

.teamOverlay {
  position: absolute;
  right: 0em;
  left: 0em;
  bottom: 0em;
  opacity: 80%;
  background-color: #212121;
  height: 0;
  transition: 0.5s ease;
}

.nameAndDesignation {
  display: none;
}

.teamCard:hover .teamOverlay {
  height: 4.5em;
}
.teamCard:hover .nameAndDesignation {
  display: inherit;
  position: absolute;
  color: white;
  top: 40%;
  left: 30%;
  padding: 0;
  margin-top: 1.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  transition: 0.5s ease;
}

@media only screen and (max-width: 700px) {
  .teamCard {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 8%;
  }

  .teamOverlay {
    height: 12%;
  }

  .nameAndDesignation {
    display: inherit;
    color: white;
    padding: 0;
    margin-top: 1.5%;
    margin-left: 5%;
    top: 10%;
    left: 10%;
  }
}
